<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.test1.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.test1.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.example.test1.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test1.MainActivity" />
        </activity>
        <activity
            android:name="com.example.test1.CalculIMC"
            android:label="@string/title_activity_calcul_imc"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.example.test1.Preferences"
            android:label="@string/title_activity_preferences"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.example.test1.Ajout_Pref"
            android:label="@string/title_activity_ajout__pref"
            android:parentActivityName="Preferences" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Preferences" />
        </activity>
        <activity
            android:name="com.example.test1.Test"
            android:label="@string/title_activity_test" >
        </activity>
    </application>

</manifest>